* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: hsl(212, 29%, 24%);
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  border: 1px solid hsla(0, 0%, 100%, .2);
  width: 60rem;
  font-size: 2rem;
  padding: 1rem 2rem;
}

input {
  width: 60rem;
  font-size: 2rem;
  padding: 1rem 2rem;
}