@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 2rem;
}

.game-container {
  font-family: "Modern Antiqua", serif;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
}

.text {
  padding: 5rem 0;
  margin: 0 auto;
  width: clamp(40rem, 40%, 100rem);
  font-size: 2rem;
  color: hsla(0, 0%, 100%, .4);
}

.text > h1 {
  text-indent: 50px;
}

 p {
  text-indent: 50px;
  text-align: justify;
  margin: 0;
}

span {
  display: block;
  text-align: right;
}

.tutorial-escape {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 5rem;
  color: hsla(0, 87%, 22%, 1);
}

.tutorial-escape > span {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 100%, .3);
  margin-right: .5rem
}

.game-board {
  width: clamp(40rem, 100%, 100%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
}

.restart-button {
  position: absolute;
  top: 5rem;
  left: 5rem;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  padding: .5rem 1rem;
  border: 1px solid hsla(0, 0%, 100%, .3);
  color: hsla(0, 0%, 100%, .3);
}

.restart-button:active {
  transform: scale(.95);
}

.game-board > div:nth-child(2) {
  width: clamp(40rem, 100%, 100%);
  height: 27%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.word-buttons-container {
  width: clamp(40rem, 100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.word-button {
  width: 10rem;
  height: 10rem;
  font-size: 7rem;
  text-transform: uppercase;
  font-family: inherit;
}

.word-button:hover {
  background-color: hsla(0, 87%, 22%, 1);
}

.word-button:active {
  transform: scale(0.95);
}

.user-word-container {
  font-size: 4rem;
  text-align: center;
  letter-spacing: 1.5rem;
    text-transform: uppercase;
  font-family: inherit;
}

.words-legend-container {
  width: clamp(40rem, 100%, 100%);
  font-size: 1.3rem;
  position: fixed;
  text-transform: uppercase;;
  bottom: 5rem;
  color: hsla(0, 0%, 100%, .4);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  padding: 0 1rem;
}


@media (max-width: 440px) {
.word-buttons-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
}

@media (min-width: 440px) and (max-width: 1340px){
.word-buttons-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
}