@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 2rem;
}

.game-container {
  font-family: "Modern Antiqua", serif;
  font-weight: 400;
  font-style: normal;
  padding: 5rem 0;
}

.text {
  margin: 0 auto;
  width: clamp(40rem, 40%, 100rem);
  font-size: 2rem;
  color: #666;
}

.text > h1 {
  text-indent: 50px;
}

 p {
  text-indent: 50px;
  text-align: justify;
  margin: 0;
}

span {
  display: block;
  text-align: right;
}