* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  background-color: hsla(218, 50%, 31%, 1);
  overflow: hidden;
  cursor: none;
}

.circle {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: hsla(188, 50%, 31%, 1);
  border: 2.5px solid hsla(256, 86%, 70%, 1);
  border-radius: 50%;
}

.cursor {
  width: 1rem;
  height: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 100;
  border-radius: 50%;
  background-color:hsla(47, 80%, 49%,1);
}