@import url("https://fonts.googleapis.com/css2?family=Kablammo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Kablammo&display=swap");

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  background-color: hsla(218, 50%, 31%, 1);
  overflow: hidden;
  cursor: none;
}

.cursor {
  width: 1rem;
  height: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 50%;
  background-color: hsla(47, 80%, 49%, 1);
}

.cursor.highlight {
  background-color: hsla(0, 80%, 49%, 1);
}

.pause-box {
  width: 100%;
  font-size: 8rem;
  text-transform: uppercase;
  text-align: center;
  background-color: hsla(30, 80%, 49%, 0.7);
  color: hsla(0, 71%, 35%, 1);
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.5rem;
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0;
}

.score-box {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 50rem;
  height: 15rem;
  font-size: 8rem;
  position: fixed;
  letter-spacing: 0.5rem;
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0;
  color: hsla(63, 35%, 64%, 0.75);
}

.tutorial-box {
  width: clamp(40rem, 70%, 80rem);
  height: clamp(40rem, 80vh, 80vh);
  padding: 2rem 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsla(30, 80%, 49%, 0.7);
  font-family: "Henny Penny", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  line-height: 1.75em;
  font-variation-settings: "MORF" 0;
  color: #222;
  overflow-y: auto;
}

.tutorial-box h1 {
  font-size: 6rem;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.tutorial-box div {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

button {
  font-size: 2rem;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  padding: 0.5rem 1.5rem;
  background-color: hsla(47, 80%, 49%, 1);
  border-color: #222;
  cursor: inherit;
}

.congrats-box {
  width: 100%;
  text-align: center;
  font-size: 10rem;
  padding: 4rem 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsla(30, 80%, 49%, 0.7);
  font-family: "Henny Penny", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0;
  color: #222;
}

/*----------shapes-----------*/

.circle {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: hsla(188, 44%, 35%, 1);
  border: 4px solid hsla(256, 74%, 64%, 1);
  border-radius: 50%;
}

.square {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: hsla(189, 45%, 50%, 1);
  border: 4px solid hsla(256, 74%, 64%, 1);
}

.diamond {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: hsla(189, 50%, 27%, 1);
  border: 4px solid hsla(256, 74%, 64%, 1);
  transform: rotate(45deg);
}
