* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

.app-container {
  text-align: center;
  color: hsla(0, 0%, 100%, .8);
}

h1 {
  font-size: 5rem;
  margin-bottom: 10rem;
}

.app-container > section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.app-container>section>div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

button {
  width: 15rem;
  height: 15rem;
  font-size: 3rem;
  font-family: inherit;
  text-transform: uppercase;
  padding: 3rem 5rem;
  border-radius: 20px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:active {
  transform: scale(.95);
}

.reset-button {
  width: 10rem;
  height: 5rem;
  padding: 3rem 5rem;
  font-size: 2rem;
  background-color: rgb(117, 6, 6);
  color: hsla(0, 0%, 100%, .8);
}